<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>CRUD Node</title>
</head>
<body>
    <h1>Proyecto Final Programación Web 2</h1>
    <h2>Diego Arroyo Palacios</h2>

    <div class="contenedor">
        <button style="font-size: 35px;" onclick="window.location.href='/agregar'">Crear Usuario</button>
        <button style="font-size: 35px;" onclick="window.location.href='/registrados'">Usuarios Registrados</button>
        <button style="font-size: 35px;" onclick="window.location.href='/seleccion'">Actualizar Usuario</button>
        <button style="font-size: 35px;" onclick="window.location.href='/eliminar'">Eliminar Usuario</button>
    </div>
</body>
</html>
