body{
    background-color: cornflowerblue;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 450%;
    color: black;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    color: black;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: black;
}